services:
  redis-base:
    build:
      context: .
      dockerfile: Dockerfile
    image: redis-cluster:latest
    container_name: redis-base
    entrypoint: ["true"]
    networks:
      - redis-internal-net

  redis-node-1:
    image: redis-cluster:latest
    container_name: redis-node-1
    volumes:
      - redis-data-1:/data
      - ./redis-node-1/redis.conf:/usr/local/etc/redis/redis.conf
    depends_on:
      - redis-base
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --requirepass ${REDIS_PASSWORD}
      --masterauth ${REDIS_PASSWORD}
      --bind 0.0.0.0
      --protected-mode yes
      --cluster-announce-ip redis-node-1
      --cluster-announce-port 6379
      --cluster-announce-bus-port 16379
    networks:
      - redis-internal-net

  redis-node-2:
    image: redis-cluster:latest
    container_name: redis-node-2
    volumes:
      - redis-data-2:/data
      - ./redis-node-2/redis.conf:/usr/local/etc/redis/redis.conf
    depends_on:
      - redis-base
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --requirepass ${REDIS_PASSWORD}
      --masterauth ${REDIS_PASSWORD}
      --bind 0.0.0.0
      --protected-mode yes
      --cluster-announce-ip redis-node-2
      --cluster-announce-port 6379
      --cluster-announce-bus-port 16379
    networks:
      - redis-internal-net

  redis-node-3:
    image: redis-cluster:latest
    container_name: redis-node-3
    volumes:
      - redis-data-3:/data
      - ./redis-node-3/redis.conf:/usr/local/etc/redis/redis.conf
    depends_on:
      - redis-base
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      redis-server /usr/local/etc/redis/redis.conf
      --requirepass ${REDIS_PASSWORD}
      --masterauth ${REDIS_PASSWORD}
      --bind 0.0.0.0
      --protected-mode yes
      --cluster-announce-ip redis-node-3
      --cluster-announce-port 6379
      --cluster-announce-bus-port 16379
    networks:
      - redis-internal-net

  nginx-proxy:
    image: nginx:alpine
    container_name: redis-nginx-proxy
    ports:
      - "6379:6379"  # Redis TCP proxy
      - "8080:8080"  # HTTP metrics for Prometheus
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
    restart: always
    networks:
      - redis-internal-net
      - redis-public-net

  redis-exporter:
    image: oliver006/redis_exporter:alpine
    container_name: redis-exporter
    ports:
      - "9121:9121"
    environment:
      REDIS_ADDR: "redis-nginx-proxy:6379"
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    depends_on:
      - nginx-proxy
    networks:
      - redis-internal-net
      - redis-public-net

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    command: "--nginx.scrape-uri=http://redis-nginx-proxy:8080/stub_status"
    ports:
      - "9113:9113"
    depends_on:
      - nginx-proxy
    networks:
      - redis-internal-net
      - redis-public-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/prometheus.rules.yml:/etc/prometheus/prometheus.rules.yml
    depends_on:
      - redis-exporter
      - nginx-exporter
      - alertmanager
    networks:
      - redis-public-net

  alertmanager:
    image: prom/alertmanager:v0.27.0
    container_name: Alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./monitoring/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    networks:
      - redis-public-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./monitoring/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - redis-public-net

volumes:
  redis-data-1:
  redis-data-2:
  redis-data-3:

networks:
  redis-internal-net:
    internal: true
  redis-public-net:
    driver: bridge
